/***** FULL PAGE *****/

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/***** MAIN SECTION *****/

#mapid {
  height: 50vh;
}

#dataStore {
  height: 50vh;
  margin-top: 50px;
}

.contact-info {
  margin: 10px 50px;
}