/***** FULL PAGE *****/


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* .clearfix:after {
  content: "";
  display: table;
  clear: both;
} */
  
  
/***** BODY *****/
  

#body-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 125px auto 100px;
  grid-template-areas:
    "item-header"
    "item-main"
    "item-footer";
}
  

  
/***** HEADER *****/


header {
  background: linear-gradient(to right, rgba(0, 128, 0, 0.8), rgba(255, 255, 255, .8), rgba(255, 255, 255, .8), rgba(255, 0, 0, .8));
  border-bottom: 1px solid black;
}

#item-header {
  grid-area: item-header;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  font-size: 26px;
}

  
 
/***** MAIN *****/


main {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../img/burrito.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#item-main {
  grid-area: item-main;
}

h2 {
  margin: 50px auto 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}

form {
  margin: 35px 6% 100px;
}

fieldset {
  margin: 20px auto;
  border: 1px solid green;
}

legend {
  padding: 5px;
  text-transform: uppercase;
}

.label-space {
  padding-left: 10px;
}

.radio-select, .checkbox-select {
  padding: 6px 0;
  width: 45%;
  display: inline-block;
}

input[type=radio], input[type=checkbox], .data-select label {
  margin-left: 10px;
}

input::placeholder, input[type=date] {
  padding-left: 7.5px;
  font-size: 12.5px;
  color: rgba(128, 128, 128, 0.8);
}

.data-select {
  padding: 6px 0;
}

.data-select label {
  display: inline-block;
  width: 32.5%;
}

.data-select input, .data-select select {
  border: 1px solid rgba(201, 30, 30, 0.4);
  width: 60%;
}

#submit {
  display: flex;
  justify-content: center;
}

input[type=submit] {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 15px 45px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 18px;
}

input[type=submit]:hover {
  background-color: rgba(0, 128, 0, 0.8);
}


/***** FOOTER *****/


footer {
  background: linear-gradient(to right, rgba(0, 128, 0, 0.8), rgba(255, 255, 255, .8), rgba(255, 255, 255, .8), rgba(255, 0, 0, .8));
  border-top: 1px solid black;
}

#item-footer {
  grid-area: item-footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 14px;
  letter-spacing: 1.5px;
}
  
  
/***** MEDIA QUERIES *****/
  

@media (min-width: 768px) {

  form {
    margin: 40px 11% 100px;
  }

  .radio-select, .checkbox-select {
    width: 24%;
  }

  .radio-select, .checkbox-select, .data-select {
    padding: 9px 0;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  input[type=submit] {
    width: 200px;
  }

  footer p {
    font-size: 15px;
    letter-spacing: 2px;
  }

} 


@media (min-width: 1024px) {

  #form-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas:
      "item-tortilla item-rice"
      "item-beans item-sauce"
      "item-filling item-cheese"
      "item-extras item-extras"
      "item-authenticate item-authenticate"
      "item-personal-info item-personal-info"
      "item-delivery-info item-delivery-info"
      "item-submit item-submit";
  }

  #item-tortilla {
    grid-area: item-tortilla;
  }

  #item-rice {
    grid-area: item-rice;
  }

  #item-beans {
    grid-area: item-beans;
  }

  #item-cheese {
    grid-area: item-cheese;
  }

  #item-filling {
    grid-area: item-filling;
  }

  #item-extras {
    grid-area: item-extras;
  }

  #item-sauce {
    grid-area: item-sauce;
  }

  #item-authenticate {
    grid-area: item-authenticate;
  }

  #item-personal-info {
    grid-area: item-personal-info;
  }

  #item-delivery-info {
    grid-area: item-delivery-info;
  }

  .item-submit {
    grid-area: item-submit;
  }

  input[type=submit] {
    width: 250px;
  }

  fieldset {
    width: 90%;
  }

  .radio-select {
    width: 45%;
  }

  #item-extras, #item-authenticate, #item-personal-info, #item-delivery-info {
    width: 95%;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  .data-select label {
    width: 25%;
  }
  
  .data-select input, .data-select select {
    width: 70%;
  }

}